.App-content {
  display: grid;
  grid-template-areas: 
    'projection axis'
    'projection legend';
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.Projection-container {
  grid-area: projection;
}

.Axis-container {
  grid-area: axis;
}

.Legend-container {
  grid-area: legend;
}
